.page-header
    h1 Specifications
    h3.subtitle Requesting a github repository with tests
    p Build a simple client-side app that lists GitHub repositories for a given user.
    p Use the GitHub API documented here: https://developer.github.com/v3/ (sample request:https://api.github.com/users/goeuro/repos).

    p The end-user will enter a Github user's name and see a list of repositories for that user including a link to the repos. App needs to handle the following responses correctly:
    ul
    li The Github user does not exist
    li Github user has no repos
    li Github API does not respond

    p We expect clear separation of responsibility and at least some unit-tests.

    p The app should be based on AngularJS 1.x or React + Redux or React + Flux. Feel free to use some additional libs/plugins.
    p Please upload the solution to your github account once you have completed it and send me the link. You have 48 hours although the exercise shouldn't take more than a few hours.
a(href='#/app/')
    button.btn.btn-primary Continue to the application.