footer.footer
    .container
        p GoEuroTest from Daniel Arias 
               a(href='https://github.com/ingdsag/GoEuroTest.git', target='_blank') Clone it at https://github.com/ingdsag/GoEuroTest.git